.DS_Store
__pycache__/
*.pyc
downloads/
*.mp4
*.wav
*.mp3
*.zip
OpenVoice/
checkpoints_v2/
output_voice_conversion/
separated/
{{pkgetc}}/
voice_converter_pipeline.py
replace_audio.py
xuyenkhong_2min.wav
Xuyen_Khong_Giong_Screen.mp4
Screen_Recording_20260812_220051_Messenger.mp4
